<fieldset>
  <legend>Demo chat realtime NodeJS</legend>
  <br />
  <h5>Hello <%= username %></h5>
  <div id="content"></div>

  <input id="message" placeholder="Write something.." />
  <br />
  <button id="sendMessage">SEND</button>
</fieldset>
<script src="/js/chat.js"></script>
