<fieldset>
  <legend>Demo chat realtime NodeJS</legend>
  <br />
  <h5>Hello <%= user.username %> id <%= user.id %></h5>
  <div id="content"></div>
  <input type="hidden" id="username" value="<%= user.username %>" />
  <input type="hidden" id="id" value="<%= user.id %>" />
  <input id="message" placeholder="Write something.." />
  <br />
  <button id="sendMessage">SEND</button>
  <div id="onliner">Online</div>
</fieldset>

<div id="tabChat"></div>

<script src="/js/chat.js"></script>
